<div id="choose-by">
    <a id="search-by" href="#/movies/oscar">By oscar</a>
    <a id="search-by" href="#/movies/upcoming">Get upcoming</a>
    <a id="search-by" href="#/movies/genre">Search by genre</a>
    <a id="search-by" href="#/movies/actor">Search by actor</a>
</div>

<h1 id="top">Top movies</h1>
<div id="top-movies" class="col-md-offset-3">
</div>


<ul id="movie-container">
    {{#this}}
        {{#if Poster}}
            {{#if Title}}
                 <!--<div class="like-container">
                       <span id="likes">likes</span>
                        <span id="dislikes">dislikes</span>
                  </div>-->
                     <li class="current-movie clickable">
                        <img id="current-movie-img" src='{{Poster}}' alt="">
                        <strong class='title'>{{Title}} </strong>
                        <span class='title'>{{imdbRating}}</span> 
                        <div class="data hidden" style="dispay:none">{{data}}</div>
                     </li>
             {{/if}}
         {{/if}}
    {{/this}}
</ul>

