<div id="choose-by">
    <a id="search-by" href="#/movies">All movies</a>
    <a id="search-by" href="#/movies/oscar">Best movies</a>
    <a id="search-by" href="#/movies/upcoming">Get upcoming</a>
    <a id="search-by" href="#/movies/genre">Search by genre</a>
    <a id="search-by" href="#/movies/actor">Search by actor</a>
    <div class="input-search-container">
        <input id="input-search" class="genre" type="text">
        <input id="input-search" class="actor" type="text">
    </div>
</div>

<h1 id="top">Top movies</h1>
<div id="top-movies">
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
    <li class="current-movie">
        <img id="current-movie-img" src="../img/images.jpg" alt="">
    </li>
</div>

<div id="movie-container">
    {{#this}} {{#if Title}}

    <div id="content">
        <p class="movie-field">
            <img id="movie-poster" src="{{Poster}}" alt="">
            <span class="span-field">Title:</span>{{Title}}
        </p>
        <p class="movie-field"><span class="span-field">IMDB:</span>{{imdbRating}}</p>
        <p class="movie-field"><span class="span-field">Genre:</span>{{Genre}}</p>
        <p class="movie-field"><span class="span-field">Actors:</span>{{Actors}}</p>
        <p class="movie-field"><span class="span-field">Country:</span>{{Country}}</p>
        <p class="movie-field">
            <span id="evaluate-text">Evaluate: </span>
            <a href="/#liked"><img id="evaluate" src="../img/like.png" alt=""></a>
            <a href="/#disliked"><img id="evaluate" src="../img/dislike.png" alt=""></a>
            <span id="likes">
                <input id="likes-count" type="button"  value="56" disabled>
                <input id="dislikes-count" type="button"  value="10" disabled>
            </span>
        </p>
    </div>
    {{/if}} {{/this}}
</div>