<div id="registerContainer" class="container">
    <div class='row align-items-center'>
        <div class='col-md-6'>
            <form id="registerForm" class="form-horizontal" role="form" data-toggle="validator">
                <h2>Registration</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus required>
                        <!--<span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="familyName" class="col-sm-3 control-label">Family Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="familyName" placeholder="Family Name" class="form-control" autofocus required>
                        <!--<span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" id="username" placeholder="Username" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" data-minlength="6" id="inputPassword" placeholder="Password" class="form-control" required/>
                        <div class="help-block with-errors">Minimum 6 chars</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Confirm password</label>
                    <div class="col-sm-9">
                        <input type="password" id="inputPasswordConfirm" placeholder="Confirm-Password" class="form-control" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                           <input name= "gender" type="radio" id="femaleRadio" value="false">
                           Female
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input name= "gender" type="radio" id="maleRadio" value="true">
                             Male
                        </label>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                    <input id="terms" type="checkbox" required>I accept <a href="#">terms</a></input>
                </label>
                        </div>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button id="btn-reg" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="registerPicture" class='col-md-6'>
            <img src="../img/movie-popcorn.jpg" alt="">
        </div>
    </div>
</div>
<script src="../js/pagesScripts/registration.js"></script>
<!-- /form -->